# CMake and Build Folders
build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Compiled Object files and Libraries
*.o
*.obj
*.dylib
*.a

# Executables
*.out
*.app
x1fc

# PS1 Binaries
assets/*.BIN

# PS1 ROMS
games/

# VS Code settings
.vscode

# macOS specific
.DS_Store